<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Nustache.Core" publicKeyToken="efd6f3d8f76ecd9f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.15.3.7" newVersion="1.15.3.7" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>