* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

body {
    background-color: #000;
    color: #fff;
    -webkit-font-smoothing: antialiased;
}

body > .container {
    margin-top: 100px;
}

a, a:hover, a:focus {
    color: white;
    cursor: pointer;
}

pre {
    border-width: 0;
    border-radius: 0;
}

.navbar {
    padding-top: 15px;
}

.navbar-inverse {
    background-color: #000;
}

.nav li {
    font-size: 18px;
    line-height: 30px;
    color: #fff;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #000;
}

.sidebar {
    position: fixed;
    top: 100px;
    bottom: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
}

.nav-sidebar {
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > a, 
.nav-sidebar > a:hover, 
.nav-sidebar > a:focus {
    color: #fff;
}

.nav-sidebar > .active > a, 
.nav-sidebar > .active > a:hover, 
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #000;
}

.subheading-container {
    text-align: center;
}

.blurb p {
    text-align: justify;
}

.subheading {
    font-size: 30px;
    line-height: 40px;
    font-weight: 300;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.blurb {
    padding-left: 35px;
    padding-right: 35px;
    font-size: 17px;
    line-height: 32px;
    font-weight: 100;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.summary {
    text-align: center;
    padding: 100px 150px 100px 150px;
    font-size: 32px;
    line-height: 42px;
    font-weight: 100;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.call-to-action, .call-to-action:hover {
    display: inline-block;
    height: 40px;
    line-height: 38px;
    padding: 0 30px;
    background: #fff;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .3px;
    border: 1px solid white;
    text-decoration: none;
    color: #000;
}

.call-to-action-container {
    text-align: center;
    margin-top: 100px;
}

.feature-container {
    background-color: #fff;
    text-align: center;
    margin: 100px 0;
    width: 100%;
    padding: 70px 100px;
}

.feature-container ul {
    padding-left: 0;
}

.feature-container li {
    padding: 20px 10px;
    list-style:none;
    font-size: 22px;
    font-weight: 300;
    color: #636363;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.documentation-content {
    color: #232323;
    background-color: #fff;
    margin-top: 30px;
    min-height: 600px;
    padding: 10px 40px 30px 40px;
    margin-bottom: 60px;
}

.documentation-content img {
    display: block;
    margin: 0 auto;
}